*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url("/images/background.jpg"); 
    background-size: cover;
     background-attachment:fixed;
    background-position: center;
}
